* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
}

.bg {
    background: url(bg_recommendation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

.details {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 15px;
    color: #fff;
    padding: 8px 25px;
    margin-left: 85vw;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 50px;
}

.details:hover {
    color:darkslateblue;
    background: #fff;
}

.container {
    background: rgba(86, 86, 86, 0.3);
    backdrop-filter: blur(10px);
    width:50vw;
    height: 100vh;
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    top: 0;
    left: 0;
    overflow-y: scroll;
}

.head {
    color: #fff;
    font-size: 70px;
    margin-top: 50px;
    margin-left: 50px;
    font-weight: bold;
}

p.none {
    font-size: 20px;
    font-weight: bold;
}

.choose {
    color: #fff;
    margin-left: 50px;
    font-size: 15px;
    line-height: 2;
}

.form-control {
    outline: none;
    background: transparent;
    border: 2px solid #fff;
    padding: 5px;
    color: #fff;
}

.form-control:hover, option {
    background: #fff;
    color: darkslateblue;
}

.btn-sub {
    background: #fff;
    color: darkslateblue;
    outline: none;
    border: 2px solid #fff;
    font-size: 15px;
    padding: 5px;
    border-radius: 50px;
    font-weight: bold;
}

.btn-sub:hover {
    background: transparent;
    color: #fff;
}
select, option {
    width: 30vw;
}

.btn-sub {
    padding: 1rem;
}

@media screen and (max-width: 950px) {
    .container {
        width: 100%;
        height: 120vh;
    }
    .bg {
        height: 120vh;
    }
    * {
        text-align: center;
    }
    #search {
        top: 20px;
        width: 80vw;
        margin-left: 20px;
    }
    .details {
        position: absolute;
        z-index: 2;
        margin: 90vh 30vw;
        background: #fff;
        border: 2px solid #fff;
        border-radius: 20px;
        font-size: 15px;
        color: rgba(63,126,172,255);
        padding: 8px 25px;
        outline: none;
        font-weight: bold;
        cursor: pointer;
    }
}

@media screen and (max-width: 750px) {
    .text {
        font-size: 50px;
        margin-top: 20vh;
    }
    #search {
        top: 20px;
        width: 60vw;
        margin-left: 5vw;
    }
    .bg {
        width: 100vw;
        background-size: cover;
    }
    .container {
        width: 100vw;
    }
    .details {
        position: absolute;
        z-index: 2;
        margin: 90vh 30vw;
        left: 30vw;
        background: #fff;
        border: 1px solid #fff;
        border-radius: 20px;
        font-size: 12px;
        color: rgba(63,126,172,255);
        padding: 5px 210x;
        outline: none;
        font-weight: bold;
        cursor: pointer;
    }
    em {
        margin: 40px auto;
        color: #fff;
        font-size: 12px;
    }
}
